---
import ButtonMenu from "./ui/Buttons/ButtonMenu.astro";
import {rutas} from "../data/rutas";

---
<header class='px-3 sm:mx-auto container flex justify-end items-center my-2'>
    <nav class='flex items-center gap-1'>
        {rutas.map((data)=>(
            <ButtonMenu href={data.href}>{data.text}</ButtonMenu>
        ))}

    </nav>
</header>