---
interface Props {
    href: string;
    active: boolean
}

const { href,active } = Astro.props;
---
<a class={`px-3 py-1 rounded-full hover:cursor-pointer capitalize ${active ? 'bg-green-300 text-black ':'text-green-300'}`} href={href}><slot /> </a>