---
interface Props {
    href:string
}
const { href } = Astro.props;

---
<a class='flex justify-center items-center p-2 rounded-xl w-full bg-slate-900 hover:bg-slate-300 hover:text-slate-900 shadow-lg shadow-black/70 transition' href={href} target='_blank' aria-label='icon'><slot/></a>