---
const date = new Date()
const year = date.getFullYear()
---
<footer class='px-3 sm:mx-auto container my-2'>
<div class='bg-green-300 text-black rounded-xl items-center p-2'>
    <span>© Portafolio {year}</span>
</div>
</footer>