---
import {rutas} from "../../data/rutas";
---
<div class='p-2'>
    <h1>Esta pagina no existe :(</h1>
    <div class='flex justify-end'>
        <a class='w-max px-3 py-1 bg-green-300 hover:bg-green-400 text-black transition rounded-full' href={rutas[1].href}>volver</a>
    </div>
</div>